<h2>
    {{#bs-button type="light" class="code-button" onClick=(action 'toggleCollapse') }}
        {{#if collapsed}}
            Display Code
        {{else}}
            Hide Code
        {{/if}}
    {{/bs-button}}
</h2>

{{#bs-collapse collapsed=collapsed}}
  <div class="well">
    {{#bs-tab as |bt|}}
      {{#each filesToDisplay as |file|}}
        {{#bt.pane title=file}}
          {{#let (get-code-snippet file unindent=false) as |snippet|}}
            <CodeBlock @language="javascript" >{{snippet.source}}</CodeBlock>
          {{/let}}
        {{/bt.pane}}
      {{/each}}
    {{/bs-tab}}
  </div>
{{/bs-collapse}}

{{yield}}