<h3>Filtered And Sorted Table</h3>
<p>
  <code>filterAndSortableColumn</code> is used for a header that has the ability
  to be clicked to perform sorting and filtering together.
</p>
{{#generic-demo-page name='Filtered and Sorted Table' files='filtered-and-sorted-table.js,filtered-and-sorted-table.hbs'}}
  {{filtered-and-sorted-table data=model}}
{{/generic-demo-page}}