<p>
  ember-contextual-table is an <a href="https://ember-cli.com/">Ember-cli</a> addon, so you can run the following command
  inside your ember project directory to get started.<br><br>

  <code>
    ember install ember-contextual-table
  </code>
  <br><br>
</p>