<p><a href="https://tubitak-bilgem-yte.github.io/ember-contextual-table/">ember-contextual-table</a> is an addon developed based on <a href="https://en.wikipedia.org/wiki/Open/closed_principle">Open/Closed principle</a> thanks to rocking Contextual Components concept of Ember.</p>

<p>The main idea behind developing yet another ember table is to avoid static column definition declarations within component.js
  files (hence inevitable usage of component helper within addon code to create components of developers dynamically at
  runtime) and give freedom to developers for customization via using contextual-table in block form.</p>

<p>ember-contextual-table does not do any magic at component lifecycle hooks to create and/or register to developers' custom
  column components via jquery selectors. Its code is pretty simple and clear; at least we hope so. Please feel free to
  contribute and comment.</p>